/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/* Blue */

.blue-form .form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.blue-form .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.blue-form .tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.blue-form .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.blue-form .tab-group li a:hover {
    background: #2C8BD9;
    color: #ffffff;
}

.blue-form .tab-group .active a {
    background: #00B0F0;
    color: #ffffff;
}


/*.tab-content > div:last-child {
  display: none;
}*/

.blue-form h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

.blue-form .label {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

.blue-form .label .req {
    margin: 2px;
    color: #00B0F0;
}

.blue-form .label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

.blue-form .label.active .req {
    opacity: 0;
}

.blue-form .label.highlight {
    color: #ffffff;
}

.blue-form input,
.blue-form textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.blue-form input:focus,
.blue-form textarea:focus {
    outline: 0;
    border-color: #00B0F0;
}

.blue-form textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.blue-form .field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.blue-form .top-row:after {
    content: "";
    display: table;
    clear: both;
}

.blue-form .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.blue-form .top-row > div:last-child {
    margin: 0;
}

.blue-form .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #00B0F0;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    cursor: pointer;
}

.blue-form .button:hover,
.button:focus {
    background: #2C8BD9;
}

.blue-form .button-block {
    display: block;
    width: 100%;
}

.blue-form .forgot {
    margin-top: -20px;
    text-align: right;
}


/* Red */

.red-form .main {
    margin: 0 auto 0;
    width: 50%;
}

.red-form .login-form {
    background: #CD2027;
    border-radius: 0.4em;
    border: 1px solid #333;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.red-form .login-form:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100px;
    left: 20%;
    top: 0;
}

.red-form .login-form:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 5px;
    border-radius: 50%;
    left: 34%;
    top: -7px;
    box-shadow: 0 0 6px 4px #fff;
}

.red-form .inset {
    padding: 20px;
    border-top: 1px solid rgba(189, 186, 186, 0.40);
}

.red-form .login-form h1:after {
    content: "";
    display: block;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50px;
    pointer-events: none;
    -webkit-transform: rotate(70deg);
    background: linear-gradient(50deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
}

.red-form .login-form h1 {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #000;
    position: relative;
	margin-bottom: 0; 
}

.red-form .login-form h1 span a {
    padding: 5px;
    background: #383838;
    color: #CD2027;
}

.red-form .login-form-title {
    padding: 5px;
    background: #4D4D4D;
    color: #fff;
    margin-left: 10px;
    border-radius: 5px 0 5px 0;
}

.red-form .login-form-title:hover {
    color: #CD2027;
    text-decoration: none;
    /* border: 1px solid #ddd; */
    background: #0C0C0C;
    box-shadow: 1px 1px 20px 5px rgba(255, 255, 255, 0.5);
}

.red-form .login-form-label {
    color: #f7f7f7;
    display: block;
    font-size: 13px;
    padding-bottom: 9px;
	margin-bottom: 0; 
}

.red-form input[type=text],
.red-form input[type=password] {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 8px 5px;
    background: rgb(167, 167, 167);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(167, 167, 167, 1) 0%, rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%, rgba(242, 242, 242, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(167, 167, 167, 1)), color-stop(21%, rgba(181, 181, 181, 1)), color-stop(79%, rgba(228, 228, 228, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(167, 167, 167, 1) 0%, rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%, rgba(242, 242, 242, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(167, 167, 167, 1) 0%, rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%, rgba(242, 242, 242, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(167, 167, 167, 1) 0%, rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%, rgba(242, 242, 242, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(167, 167, 167, 1) 0%, rgba(181, 181, 181, 1) 21%, rgba(228, 228, 228, 1) 79%, rgba(242, 242, 242, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#f2f2f2', GradientType=0);
    /* IE6-9 */
    border: 1px solid #222;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 0.3em;
    margin-bottom: 20px;
    color: #000;
    font-size: 15px;
    outline: none;
}

.red-form label[for=remember] {
    color: #fff;
    display: inline-block;
    font-size: 13px;
}

.red-form input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
}

.red-form .p-container {
    padding: 0 20px 20px 20px;
}

.red-form .p-container:after {
    clear: both;
    display: table;
    content: "";
}

.red-form .p-container span a {
    font-size: 14px;
    display: block;
    float: left;
    color: #f2f2f2;
    padding-top: 4px;
}

.red-form .p-container a {
    color: #f2f2f2;
}

.red-form input[type=submit] {
    padding: 5px 20px;
    border: 1px solid #ddd;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 10px 10px rgba(255, 255, 255, 0.1);
    border-radius: 0.3em;
    background: #4c4c4c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
    /* IE6-9 */
    color: #fff;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

.red-form input[type=submit]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -10px 10px rgba(255, 255, 255, 0.1);
    background: #959595;
    /* Old browsers */
    background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b', GradientType=0);
    /* IE6-9 */
}


/*----start-responsive design-----*/

@media only screen and (max-width:1680px) {
    .red-form .main {
        margin: 2em auto 0;
    }
}

@media only screen and (max-width:1440px) {
    .red-form .main {
        margin: 1em auto 0;
        width: 50%;
    }
}

@media only screen and (max-width:1366px) {
    .red-form .main {
        margin: 1em auto 0;
        width: 50%;
    }
}

@media only screen and (max-width:1280px) {
    .red-form .main {
        margin: 1em auto 0;
        width: 50%;
    }
}

@media only screen and (max-width:1024px) {
    .red-form .main {
        margin: 1em auto 0;
        width: 60%;
    }
}

@media only screen and (max-width:768px) {
    .red-form .main {
        margin: 1em auto 0;
        width: 85%;
    }
}

@media only screen and (max-width:640px) {
    .red-form .main {
        margin: 1em auto 0;
        width: 95%;
    }
}

@media only screen and (max-width:480px) {
    .red-form .main {
        margin: 1em auto 0;
        width: 95%;
    }
}

@media only screen and (max-width:320px) {
    .red-form .main {
        margin: 1em auto 0;
        width: 95%;
    }
}
